.App {
  text-align: center;
  color: aliceblue;
  background-color:rgb(15, 15, 15)
}

.films {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
}

.films img {
  width:  700px;
  height: 400px;
  object-fit: cover;
  border-radius: 30px;
}

button {
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
}

header {
  background-color: black;
  height: 70px;
  padding-top: 20px;
}